.footer {
  margin-top:calc(5% + 60px);
  bottom: 0;
}

.message-container{
  position: fixed;
  width: 100%;
  left: 50%;
  bottom: 20px;


}
.message-inner-container{

  width: 36vw;
  transform: translate(-50%, -50%);

  z-index: 2345;
}

.confirm-dialog-box{

  padding: 40px 40px 40px;
}
